@using System.Text.RegularExpressions;
@functions{
    public string StripHtml(string value)
    {
        var result = string.Empty;

        if (!string.IsNullOrEmpty(value))
        {
            var regex2 = "(?i)<(?!img|/img).*?>"; // with images
            result = Regex.Replace(value, regex2, String.Empty).Trim();
        }

        return result;
    }

    public string TruncateHtml(string value, string link, string title)
    {
        var result = string.Empty;

        if (!string.IsNullOrEmpty(value))
        {
            result = StripHtml(value);

            if (result.Length > 300)
            {
                result = result.Substring(0, 300) + " ...";
            }
        }

        if (!string.IsNullOrEmpty(link))
        {
            result += "<p><a title=\"" + title + "\"" + " href=" + link + " class=\"btn btn-block btn-outline-info\">Learn More</a></p>";
        }

        return result;
    }

    public string BuildColumnClass(dynamic value)
    {
        string result = string.Empty;
        int length = value.Count;

        if (length == 3)
        {
            result = "col-12 col-6 col-4";
        }
        else if (length == 2)
        {
            result = "col-12 col-6 col-6";
        }
        else
        {
            result = "col-12";
        }

        return result;
    }
    public string GetSettingAsString(string propertyName)
    {
        var value = string.Empty;

        if (!string.IsNullOrEmpty(propertyName) && @ViewData["Tenant"] != null)
        {
            var setting = (Tenant)@ViewData["Tenant"];
            value = (string)(setting.GetType().GetProperty(propertyName).GetValue(setting, null));
        }

        return value;
    }

    public static bool IsDebug()
    {
        #if DEBUG
                return true;
        #else
                    return false;
        #endif
    }

    public string GetSearchUrl(string search)
    {
        var result = string.Empty;
        if (!string.IsNullOrEmpty(search))
        {
            result = string.Format("/?search={0}", search);
        }
        return result;
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KT.Core.Mvc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">.NET CORE 3.1 - KT.Core.Mvc</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/admin/index.html">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light text-center">
                &copy; 2020 - KT.Core.Mvc - <a asp-area="" asp-controller="" asp-action="Privacy">Privacy</a>
            </nav>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
